body {
    width: 650px;
    margin: 0px auto;
    border: 1px solid black;
}

table{
    width: 630px;
    margin: auto;
    text-align: center;
    padding: 1px ;
    border-collapse: collapse;
}
.color{
    color:yellow;
    background-color: darkgreen;
}
td{
    border: 1px solid black;
}